{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">

    <h2>Courses</h2>

    <a href="{% url 'course_create' %}" class="btn btn-success">
        + New Course
    </a>

</div>

<table class="table table-bordered table-hover">

    <thead class="table-primary">

        <tr>

            <th>Institution</th>
            <th>Department</th>
            <th>Course</th>
            <th>Duration</th>
            <th>Internship</th>
            <th>Status</th>

        </tr>

    </thead>

    <tbody>

    {% for course in courses %}

        <tr>

            <td>{{ course.department.institution }}</td>

            <td>{{ course.department.name }}</td>

            <td>{{ course.name }}</td>

            <td>{{ course.duration_years }} Years</td>

            <td>{{ course.internship_months }} Months</td>

            <td>
                {% if course.is_active %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
            </td>

        </tr>

    {% empty %}

        <tr>

            <td colspan="6" class="text-center">
                No Courses Found
            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}