{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">
    Welcome to SRPEG ERP
</h2>

<div class="row">

    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>👨‍🎓 Students</h5>
                <p>Student Admission Module</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>💰 Fees</h5>
                <p>Fee Collection Module</p>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>👨‍💼 Employees</h5>
                <p>HR Management</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}