<div class="list-group shadow">

    <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">
        🏠 Dashboard
    </a>

    <a href="{% url 'admission_dashboard' %}" class="list-group-item list-group-item-action">
        🎓 Admissions
    </a>

    <a href="{% url 'student_list' %}" class="list-group-item list-group-item-action">
        👨‍🎓 Students
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        💰 Fees
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        👨‍💼 Employees
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        📦 Purchase
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        📚 Library
    </a>

    <a href="#" class="list-group-item list-group-item-action">
        📊 Reports
    </a>

</div>